server.port=8084

devMode=true
spring.application.name=yti-datamodel-api
endpoint=http://localhost:3030
defaultNamespace=http://uri.suomi.fi/datamodel/ns/
provenance=true
defaultScheme=http://dev.finto.fi/
defaultTermedAPI=https://sanastot-dev.suomi.fi/termed-api/
defaultGroupManagementAPI=https://rhp-dev.suomi.fi/public-api/
defaultSuomiCodeServerAPI=https://koodistot-dev.suomi.fi/codelist-api/api/v1/
publicTermedAPI=https://sanastot-dev.suomi.fi/termed-api/
publicGroupManagementAPI=https://rhp-dev.suomi.fi
defaultTermedAPIUser=admin
defaultTermedAPIUserSecret=admin

groupmanagement.url=https://rhp-dev.suomi.fi
groupmanagement.public.url=https://rhp-dev.suomi.fi

elasticHost=127.0.0.1
elasticPort=9300
elasticCluster=elasticsearch

migration.enabled=true
migration.packageLocation=fi.vm.yti.datamodel.api.migration.task
